[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gspread = "*"
lxml = "*"
oauth2client = "*"
graphcommons = {editable = true, ref = "fix-maps", git = "https://github.com/patcon/graphcommons-python.git"}

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
